@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i|Playfair+Display');

body {
   font-size: 1.5em;
   font-family: 'Open Sans', sans-serif;
}

/* QUESTIONS */
#flexmain {
    display: flex;
    flex-direction: row;
}
#left {
    width: 50%;
    height: 95vh;
    padding: 1%;
    border-left: 5px lightgray solid;
}
#right {
    width: 50%;
    height: 95vh;
    padding: 1%;
}
.form {
    /* border: 2px gray solid; */
    display: flex;
    justify-content: center;
}
#question1, #question2 {
    margin: 40px 0px 40px 0px;
}

/* PROMPT */
#prompt {
    position: absolute;
    top:0;
    left:0;
    background-color: white;
    z-index: 2;
    display: none;
    padding: 40px 10% 40px 10%;
    font-size: 1em;
}

#promptSide {
    z-index: 4;
    width: 250;
    color: white;
}

#promptRef {
    padding: 15px;
    padding-bottom: 40px;
}

.openPrompt {
    position: absolute;
    left: 0;
}

input[type="radio"]{
    display:none;
 }
 
 input[type="radio"] + label{
     height: 330px;
     width: 240px;
     display:inline-block;
     padding: 0 0 0 0px;
     cursor:pointer;
     /* background-image: url("images/redriding_button_wolf.png"); */
     background-size: contain;
     background-repeat: no-repeat;
 }

 .button {
    color: black;
    background-color: transparent;
    border: 2px solid black;
    border-radius: 6px;
    padding: 10px;
    font-size: 1em;
 }

 .button:hover {
    background-color: black;
    color: white;
}

.author {
    font-size: 2em;
    margin-top: 10px;
}

#wait {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: lightgray;
    font-family: 'Playfair Display', serif;
}

 /* HOME */
 input[type="radio"] + .woods{
    background-image: url("images/redriding_button_woods.png");
 }
 input[type="radio"] + .beach{
    background-image: url("images/redriding_button_beach.png");
 }
 input[type="radio"] + .paris{
    background-image: url("images/redriding_button_paris.png");
 }

 /* COLOR */
 input[type="radio"] + .red{
    background-image: url("images/redriding_button_red.png");
 }
 input[type="radio"] + .blue{
    background-image: url("images/redriding_button_blue.png");
 }
 input[type="radio"] + .purple{
    background-image: url("images/redriding_button_purple.png");
 }

 /* CREATURE */
 input[type="radio"] + .wolf{
    background-image: url("images/redriding_button_wolf.png");
 }
 input[type="radio"] + .bear{
    background-image: url("images/redriding_button_bear.png");
 }
 input[type="radio"] + .unicorn{
    background-image: url("images/redriding_button_unicorn.png");
 }

 
 input[type="radio"]:checked + label
 {
     /* background-color: gray; */
     box-shadow: 0px 0px 44px 0px rgba(0,0,0,0.75);
 }

 /* ENDING */
 #ending{
    position: absolute;
    top:0;
    left:0;
    height: 90%;
    background-color: white;
    z-index: 3;
    display: none;
    padding: 40px 10% 40px 10%;
}