@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i|Playfair+Display');

body {
   font-size: 1.5em;
   font-family: 'Open Sans', sans-serif;
   background-color: #fff4e8;
   color: #807469;
}

/* QUESTIONS */
#flexmain {
    display: flex;
    flex-direction: row;
}
#left {
    width: 50%;
    height: 95vh;
    padding: 1%;
    border-left: 1px #a89888 solid;
}
#right {
    width: 50%;
    height: 95vh;
    padding: 1%;
}
.form {
    /* border: 2px gray solid; */
    display: flex;
    justify-content: center;
}
#question1, #question2 {
    margin: 40px 0px 40px 0px;
}

/* PROMPT */
#prompt {
    position: absolute;
    top:0;
    left:0;
    background-color: #fff4e8;
    z-index: 2;
    display: none;
    padding: 40px 10% 40px 10%;
    font-size: 1em;
}

#promptSide {
    z-index: 4;
    width: 250;
    color: white;
}

#promptRef {
    padding: 15px;
    padding-bottom: 40px;
}

.var {
    font-weight: bold;
    text-decoration: underline;
}

.openPrompt {
    position: absolute;
    left: 0;
}

input[type="radio"]{
    display:none;
 }
 
 input[type="radio"] + label{
     height: 330px;
     width: 240px;
     display:inline-block;
     padding: 0 0 0 0px;
     cursor:pointer;
     /* background-image: url("images/redriding_button_wolf.png"); */
     background-size: contain;
     background-repeat: no-repeat;
 }

 .button {
    color: #211508;
    background-color: transparent;
    border: 2px solid #211508;
    border-radius: 6px;
    padding: 10px;
    font-size: 1em;
 }

 .button:hover {
    background-color: #211508;
    color: white;
}

.author {
    font-size: 2em;
    margin-top: 50px;
    color: #211508;
    font-family: 'Playfair Display', serif;
}

#wait {
    display: flex;
    justify-content: center;
    font-size: 2em;
    color: #a89888;
    font-family: 'Playfair Display', serif;
}

/* //////////////////////////////////////////////////////////// */
/* REGULAR */
 /* HOME */
 input[type="radio"] + .woods{
    background-image: url("images/button_woods.png");
 }
 input[type="radio"] + .beach{
    background-image: url("images/button_beach.png");
 }
 input[type="radio"] + .paris{
    background-image: url("images/button_paris.png");
 }

 /* COLOR */
 input[type="radio"] + .red{
    background-image: url("images/button_red.png");
 }
 input[type="radio"] + .blue{
    background-image: url("images/button_blue.png");
 }
 input[type="radio"] + .purple{
    background-image: url("images/button_purple.png");
 }

 /* CREATURE */
 input[type="radio"] + .wolf{
    background-image: url("images/button_wolf.png");
 }
 input[type="radio"] + .bear{
    background-image: url("images/button_bear.png");
 }
 input[type="radio"] + .unicorn{
    background-image: url("images/button_unicorn.png");
 }

 /* //////////////////////////////////////////////////////////// */
 /* HOVER */
 /* HOME */
 input[type="radio"] + .woods:hover{
    background-image: url("images/button_woods_hover.png");
 }
 input[type="radio"] + .beach:hover{
    background-image: url("images/button_beach_hover.png");
 }
 input[type="radio"] + .paris:hover{
    background-image: url("images/button_paris_hover.png");
 }

 /* COLOR */
 input[type="radio"] + .red:hover{
    background-image: url("images/button_red_hover.png");
 }
 input[type="radio"] + .blue:hover{
    background-image: url("images/button_blue_hover.png");
 }
 input[type="radio"] + .purple:hover{
    background-image: url("images/button_purple_hover.png");
 }

 /* CREATURE */
 input[type="radio"] + .wolf:hover{
    background-image: url("images/button_wolf_hover.png");
 }
 input[type="radio"] + .bear:hover{
    background-image: url("images/button_bear_hover.png");
 }
 input[type="radio"] + .unicorn:hover{
    background-image: url("images/button_unicorn_hover.png");
 }

 /* //////////////////////////////////////////////////////////// */
 /* CHECKED */
 /* HOME */
 input[type="radio"]:checked + .woods{
    background-image: url("images/button_woods_active.png");
 }
 input[type="radio"]:checked + .beach{
    background-image: url("images/button_beach_active.png");
 }
 input[type="radio"]:checked + .paris{
    background-image: url("images/button_paris_active.png");
 }

 /* COLOR */
 input[type="radio"]:checked + .red{
    background-image: url("images/button_red_active.png");
 }
 input[type="radio"]:checked + .blue{
    background-image: url("images/button_blue_active.png");
 }
 input[type="radio"]:checked + .purple{
    background-image: url("images/button_purple_active.png");
 }

 /* CREATURE */
 input[type="radio"]:checked + .wolf{
    background-image: url("images/button_wolf_active.png");
 }
 input[type="radio"]:checked + .bear{
    background-image: url("images/button_bear_active.png");
 }
 input[type="radio"]:checked + .unicorn{
    background-image: url("images/button_unicorn_active.png");
 }




 

 /* ENDING */
 #ending{
    position: absolute;
    top:0;
    left:0;
    height: 90%;
    background-color: #fff4e8;
    z-index: 3;
    display: none;
    padding: 40px 10% 40px 10%;
}