@import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display');

* {
  margin: 0;
  padding: 0;
}
body {
   font-family: 'Open Sans', sans-serif;
   background-color: #fff4e8;
   color: #807469;
}
#canvas{
  position: absolute;
}
#canvasRed{
  position: absolute;
}
#collage {

  width: 800px;
  height: 600px;
  margin: auto;
  background-color: white;
}
/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  color: white;
  background-color: #a89888;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 16px;
  color: white;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  font-size: 12px;
  cursor: pointer;
  background-color: white;
  border: #a89888 1px solid;
  color: #a89888;
  padding: 4px 5px;
  border: none;
}

.openbtn:hover {
  background-color: #a89888;
  color:white;
}

#title {
  font-family: 'Playfair Display', serif;
  font-size: 4em;
  color: #211508;
}

#page-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wrapper {
    text-align: center;
}

#storybook {
  background-image: url(images/intro.png);
  height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
}

.BeginButton {
    color: #211508;
    background-color: transparent;
    border: 2px solid #211508;
    border-radius: 6px;
    padding: 10px;
    font-size: 1em;
    width: 300px;
 }

 .BeginButton:hover {
    background-color: #211508;
    color: white;
}

p {
  display: block;
  margin-top: 1.5em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
}
#mother{
  position: absolute;
  top: 0px;
  left: -406px;
  width: 406px;
  height: 769px;
}
#slide{
  position: absolute;
  top: 370px;
  left: 2500px;
  width: 301.5px;
  height: 397px;
}
#slideP{
  position: absolute;
  top: 370px;
  left: 2500px;
  width: 301.5px;
  height: 397px;
}
#slideB{
  position: absolute;
  top: 370px;
  left: 2500px;
  width: 301.5px;
  height: 397px;
}
#slideBear{
  position: absolute;
  top: 345px;
  left: -1500px;
  width: 295.5px;
  height: 468px;
}
#slideUni{
  position: absolute;
  top: 345px;
  left: -1500px;
  width: 301.5px;
  height: 397px;
}
#slideWolf{
  position: absolute;
  top: 345px;
  left: -1500px;
  width: 301.5px;
  height: 397px;
}
#slideBearHouse{
  position: absolute;
  top: 178px;
  left: -2500px;
  width: 1024px;
  height: 590px;
}
#slideWolfHouse{
  position: absolute;
  top: 178px;
  left: -2500px;
  width: 1024px;
  height: 590px;
}
#slideUniHouse{
  position: absolute;
  top: 178px;
  left: -2500px;
  width: 1024px;
  height: 590px;
}

/* BELOW IS THE WORKING CODE< COMMENT BACK IN IF DOES NOT WORK */
/* @keyframes lilHoodAnim {
    from{transform: translateX(2500px);}
    to{transform: translateX(-2000px);}
  }
@-webkit-keyframes lilHoodAnim {
  from{transform: translateX(2500px);}
  to{transform: translateX(-2000px);}
  } */

.houseAppear{
    -webkit-animation: animateMother 10s ease 0s;
    -webkit-animation-iteration-count:1;
    animation: animateMother 10s ease 0s;
    animation-iteration-count:1;
}

@keyframes animateMother {
  0%{left:-206px;} 
  50%{left:0;} 
  100%{left:-406;}
}

@-webkit-keyframes animateMother {
  0%{left:-406px;} 
  50%{left:0;} 
  100%{left:-406;}
}

.animateLilHood{
    -webkit-animation: animateLilHood 20s ease 0s;
    -webkit-animation-iteration-count:infinite;
    animation: animateLilHood 20s ease 0s;
    animation-iteration-count:infinite;
}

@keyframes animateLilHood {
    0%{left:300px;} 
    50%{left:100%;} 
    100%{left:300px;}
  }

@-webkit-keyframes animateLilHood {
  0%{left:300px;} 
  50%{left:100%;} 
  100%{left:300px;}
}

/*
  @keyframes lilHoodAnimExit {
      from{transform: translateX(0px);}
      to{transform: translateX(-2000px);}
    }
  @-webkit-keyframes lilHoodAnimExit {
    from{transform: translateX(0px);}
    to{transform: translateX(-2000px);}
    }  */
    @keyframes lilHoodAnimOpacity {
       /* from { opacity: 1;}
       to {opacity: 0;} */
     }

  .animateLilHood {
    /* -webkit-animation: lilHoodAnim 2s 2s linear both; */
    /* animation: lilHoodAnim 2s 2s linear both, lilHoodAnimOpacity 2s 8s both; */
  }
  @keyframes lilHoodAnimOpacity {
     /* from { opacity: 1;}
     to {opacity: 0;} */
   }
  /* .disapear {
        animation: lilHoodAnimOpacity 5s 10s both;
  } */

  @keyframes creatureAnim {
      from{transform: translateX(-1500px);}
      to{transform: translateX(1700px);}
    }
  @-webkit-keyframes creatureAnim {
    from{transform: translateX(-1500px);}
    to{transform: translateX(1700px);}
    }
    .animateCreature {
      /* -webkit-animation: lilHoodAnim 2s 2s linear both; */
      animation: creatureAnim 2s 2s linear both, lilHoodAnimOpacity 2s 6s both;
    }
    @keyframes houseAnim {
        from{transform: translateX(-1500px);}
        to{transform: translateX(2500px);}
      }
    @-webkit-keyframes houseAnim {
      from{transform: translateX(-1500px);}
      to{transform: translateX(2500px);}
      }
      .animatehouse {
        /* -webkit-animation: lilHoodAnim 2s 2s linear both; */
        animation: houseAnim 15s 2s linear both;
      }

/* VIEWER STYLING */
#intro {
  background-image: url(images/intro.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 99vh;
  width: 99vw;
  z-index: -20;
  background-size: contain;
  background-repeat: no-repeat;
}
